.events {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    margin: 3%;
    background-color: #5d7c5d3e;
    padding: 3%;
    border: 4px ridge #5d7c5d;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.events h4 {
    font-weight: bold;
    font-size: 1.3rem;
}
.events p {
    font-size: 1rem;
}