.full-profile{
    background-image: url("https://images.unsplash.com/photo-1576867757603-05b134ebc379?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: white;
}

.profile-header {
    background-color: #5d7c5d;
    justify-content: space-evenly;
    width: 100%;
    border: 2px black solid;
}
.profile-header h4{
    font-size: 1.5rem;
    color:gold;
}
.event-list{
    display:flex; 
    justify-content: center;
    margin: 2%;
    height: 100%;
    width: 100%;
    border: 2px ridge gold;
  }