/* ===== RESET ===== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: #f2f3eb;
}
button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
}
/* ===== UNIVERSAL SELECTOR ===== */

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0; /* May already be in the reset */
  margin: 0; /* May already be in the reset */
}

/* ===== HEADER - NAV - FOOTER ===== */
header {
  margin: auto;
  /* border: 2px black solid; */
}
.nav-container {
  padding: 24px;
  height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px red solid; */
}
.nav-left {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}
.nav-center {
  width: 60%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-right {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border: lightblue 1px solid;
}

.body-container {
  border: solid 3px #474544;
  padding: 24px;
  margin: 12px auto;
  position: relative;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  border: 1px solid red;
}

/* === TYPES OF SECTIONS === */
h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero {
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 2rem;
  min-height: 30vh;
}

.hero h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 1rem;
  text-align: center;
}

.hero h2 {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

.hero p {
  margin: 2rem;
  font-style: italic;
}



/* FORM */

input[type="text"],
[type="email"],
[type="password"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  min-width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: rgb(207, 240, 233);
  padding: 0 0 0.875em 0;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: auto;
  margin-top: 1rem;
  width: 80px;
}

/* BUTTONS: primary = darkest, secondary = lighter, tertiary = lightest & outlined */
.btn-primary {
  background: #474544;
  border: solid 2px #474544;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 6px 12px 6px 12px;
}
.btn-primary:hover {
  background: none;
  color: #474544;
}

.btn-secondary {
  background-color: lavender;
  padding: 0.25rem;
  border: 1px black solid;
}

.btn-tertiary {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 6px 12px 6px 12px;
}
.btn-tertiary:hover {
  background: #999999;
  color: #f2f3eb;
}

/* /// FOR EVENT DETAILS DISPLAYED ON PROFILE OR HOME PAGE --- START /// */
/* Container for Potluck events displayed on home & profile page */
.event-container {
  border: 1px black solid;
  margin: 1rem;
}

.date {
  border: 1px black solid;
  margin: 1rem;
}

.event-container img {
  border: 1px black solid;
  margin: 1rem;
}

.event-title {
  border: 1px black solid;
  margin: 1rem;
}

.host-name {
  border: 1px black solid;
  margin: 1rem;
}

.location {
  border: 1px black solid;
  margin: 1rem;
}

/* /// END --- FOR EVENT DETAILS /// */

/* DISH & GUEST INFO FOR POTLUCK PAGE */
.guest-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.attending {
  width: 100%;
}

.dish-container {
  border: 2px black solid;
  margin: 2rem;
  padding: 0.75rem;
}

.guest {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.dish {
  margin: 0.5rem;
}

.event-edit {
  text-align: right;
  margin-top: 20px;
}
