.nav {
  border: 1px black solid;
  margin: 1rem;
}

.hero {
  border: 1px black solid;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

/* BUTTONS: primary = darkest, secondary = lighter, tertiary = lightest & outlined */
.btn-primary {
  background-color: blue;
  padding: .25rem;
  border: 1px black solid;
}

.btn-secondary {
  background-color: lavender;
  padding: .25rem;
  border: 1px black solid;
}

.btn-tertiary {
  background-color: white;
  padding: .25rem;
  border: 1px black solid;
}

/* /// FOR EVENT DETAILS DISPLAYED ON PROFILE OR HOME PAGE --- START /// */
/* Container for Potluck events displayed on home & profile page */
.event-container {
  border: 1px black solid;
  margin: 1rem;
}

.date {
  border: 1px black solid;
  margin: 1rem;
}

.event-container img {
  border: 1px black solid;
  margin: 1rem;
}

.event-title {
  border: 1px black solid;
  margin: 1rem;
}

.host-name {
  border: 1px black solid;
  margin: 1rem;
}

.location {
  border: 1px black solid;
  margin: 1rem;
}

/* /// END --- FOR EVENT DETAILS /// */

/* DISH & GUEST INFO FOR POTLUCK PAGE */
.guest-list {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.dish-container{
  border: 1px black solid;
  margin: .5rem;
}

.guest {
  border: 1px black solid;
  margin: .5rem;
}

.dish {
  border: 1px black solid;
  margin: .5rem;
}

.event-edit {
  text-align: right;
}



